.home {
  scroll-snap-align: start;
  scroll-margin: 100px;
 
  
  &__typer {
    color: white !important;
    text-shadow: 1px 1px 1px white;  
  }
  
  &__socials {   
    img {
      &:hover {
        border-radius: 6px;
        background-color: $primary;
        box-shadow: 0 0 30px rgba($color: $primary, $alpha: 0.7);
        cursor: pointer;
      }
    }
  }
  
  &__card {
    transform-style: preserve-3d;
    &:hover {
      // box-shadow: 0 0 50px rgba($color: $primary, $alpha: 0.5);
    }
  }
 }

