$primary: #F77F00;
$secondary: #003049;


$My-Color-Theme-1-hex: #003049;
$My-Color-Theme-2-hex: #D62828;
$My-Color-Theme-3-hex: #F77F00;
$My-Color-Theme-4-hex: #FCBF49;
$My-Color-Theme-5-hex: #EAE2B7;
